doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="sass/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==", crossorigin="anonymous", referrerpolicy="no-referrer")
    link(
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap",
      rel="stylesheet")
    title Villa Agency
  body
    .container-0
      .header
        .info
          .email
            i(class="fa fa-envelope")
            p info@company.com
          .location
            i(class="fa fa-map")
            p Sunny Isles Beach, FL 33160
        .icons
          a(href="#")
            i(class="fab fa-facebook")
          a(href="#")
            i(class="fab fa-twitter")
          a(href="#")
            i(class="fab fa-linkedin")
          a(href="#")
            i(class="fab fa-instagram")
    block mainData
      .main-header
        .container
          .logo VILLA
          ul.links
            li.active
              a(href="index.html") Home
            li
              a(href="pugjs/prop.html") Properties
            li
              a(href="pugjs/details.html") Property Details
            li
              a(href="pugjs/cont.html") Contact Us
            li.visit 
              a(href="#")
                <i class="fa fa-calendar"></i> 
                span Schedule a visit
          .miniLinks
            span
      .gallery
        .bullets
          span.active(data-order=1)
          span(data-order=2)
          span(data-order=3)
        .image(class="active",draggable="true")
          i(class="fa fa-angle-left angle", aria-hidden="true")
          .img-info
            span.loc Toronto,
              span Canada
            h2 Hurry!<br>Get the Best Villa for you 
          i(class="fa fa-angle-right angle", aria-hidden="true")
        .image(draggable="true")
          i(class="fa fa-angle-left angle", aria-hidden="true")
          .img-info
            span.loc Melbourne,
              span Australia
            h2 Be Quick!<br>Get the best villa in town
          i(class="fa fa-angle-right angle", aria-hidden="true")
        .image(draggable="true")
          i(class="fa fa-angle-left angle", aria-hidden="true")
          .img-info
            span.loc Miami,
              span South Florida
            h2 Act Now!<br>Get the highest level penthouse
          i(class="fa fa-angle-right angle", aria-hidden="true")
      .container
        .feature
          .col-1
            img(src="imgs/featured.jpg")
            a(href="./details.html")
              img(src="imgs/featured-icon.png")
          .col-2
            span | FEATURED
            h1 Best Appartment & Sea View
            ul.ques
              li Best useful links ?
                p Get <b>the best villa</b> website template in HTML CSS and Bootstrap for your business. TemplateMo provides you the <span>best free CSS templates</span> in the world. Please tell your friends about it.
              li How does this work ?
                p Dolor <b>almesit amet</b>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <span>adipiscing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              li Why is Villa Agency the best ?
                p Dolor <b>almesit amet</b>, consectetur adipiscing elit, sed doesn't eiusmod tempor incididunt ut labore consectetur <span>adipiscing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .col-3
            .row
              img(src="imgs/info-icon-01.png")
              .info
                span  250 m2
                span Total Flat Space
            .row
              img(src="imgs/info-icon-02.png")
              .info
                span  Contract 
                span Contract Ready
            .row
              img(src="imgs/info-icon-03.png")
              .info
                span  Payment  
                span Payment Process
            .row
              img(src="imgs/info-icon-04.png")
              .info
                span  Safety
                span 24/7 Under Control
      .video
        .back
          h4 | VIDEO VIEW
          h2 Get Closer View & Different Feeling
          .v-c
            img(src="imgs/video-frame.jpg")
            a(href="https://youtube.com",target="_blank")
              <i class="fa fa-play"></i>
        .container
          .row 
            div 
              span 34
              span Buildings Finished Now
            div 
              span 12
              span Years Experience
            div 
              span 24
              span Awwards Won 2023
      .deal
        .container
          .title 
            h4 | BEST DEAL
            h2 Find Your Best Deal Right Now!
          ul.options
            li.active(data-num = "1") Appartment
            li(data-num = "2")  Villa House
            li(data-num = "3")  Penthouse
        .container
          .Details
            .row
              ul.info
                li
                  span Total Flat Space
                  span.space 185 m2
                li
                  span Floor number
                  span.floor 26th
                li
                  span Number of rooms
                  span.room 4
                li
                  span Parking Available
                  span.park Yes
                li
                  span Payment Process
                  span.pay Bank
            .row
              img(class="img",src="imgs/deal-01.jpg")
            .row
              h4 Extra Info About 
                span.option Property
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse.
              p When you need free CSS templates, you can simply type TemplateMo in any search engine website. In addition, you can type TemplateMo Portfolio, TemplateMo One Page Layouts, etc.
              .visit
                a(href="./details.html")
                  <i class="fa fa-calendar"></i> 
                  span Schedule a visit
      .properties
        h4 | PROPERTIES
        h2 We Provide The Best<br> Property You Like
        .container
          .card
            img(src="imgs/property-01.jpg")
            .det 
              .type Luxury Villa
              .price $2.264.000
            a.loc(href="prop.html") 18 New Street Miami, OR 97219
            ul.speci
              li Bedrooms: 
                span 8
              li Bathrooms: 
                span 8
              li Area: 
                span 545m2
              li Floor: 
                span 3
              li Parking: 
                span 6 spots
            button.sched 
              a(href="./details.html") Schedule a visit
          .card
            img(src="imgs/property-02.jpg")
            .det 
              .type Luxury Villa
              .price $1.180.000
            a.loc(href="prop.html") 54 Mid Street Florida, OR 27001
            ul.speci
              li Bedrooms: 
                span 6
              li Bathrooms: 
                span 5
              li Area: 
                span 450m2
              li Floor: 
                span 3
              li Parking: 
                span 8 spots
            button.sched 
              a(href="./details.html") Schedule a visit
          .card
            img(src="imgs/property-03.jpg")
            .det 
              .type Luxury Villa
              .price $1.460.000
            a.loc(href="prop.html") 26 Old Street Miami, OR 38540
            ul.speci
              li Bedrooms: 
                span 5
              li Bathrooms: 
                span 4
              li Area: 
                span 225m2
              li Floor: 
                span 3
              li Parking: 
                span 10 spots
            button.sched 
              a(href="./details.html") Schedule a visit
          .card
            img(src="imgs/property-04.jpg")
            .det 
              .type Apartment
              .price $584.500
            a.loc(href="prop.html") 12 New Street Miami, OR 12650
            ul.speci
              li Bedrooms: 
                span 4
              li Bathrooms: 
                span 3
              li Area: 
                span 125m2
              li Floor: 
                span 25th
              li Parking: 
                span 2 cars
            button.sched 
              a(href="./details.html") Schedule a visit
          .card
            img(src="imgs/property-05.jpg")
            .det 
              .type Penthouse
              .price $925.600
            a.loc(href="prop.html") 34 Beach Street Miami, OR 42680
            ul.speci
              li Bedrooms: 
                span 4
              li Bathrooms: 
                span 4
              li Area: 
                span 180m2
              li Floor: 
                span 38th
              li Parking: 
                span 2 cars
            button.sched 
              a(href="./details.html") Schedule a visit
          .card
            img(src="imgs/property-06.jpg")
            .det 
              .type Modern Condo
              .price $450.000
            a.loc(href="prop.html") 22 New Street Portland, OR 16540
            ul.speci
              li Bedrooms: 
                span 3
              li Bathrooms: 
                span 2
              li Area: 
                span 165m2
              li Floor: 
                span 26th
              li Parking: 
                span 3 cars
            button.sched 
              a(href="./details.html") Schedule a visit
      .contact 
        h4 | CONTACT US
        h2 Get In Touch With Our Agents
        .container
          .col
            .map 
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1585.8775776491855!2d-80.11944649577967!3d25.951856845021673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9add4b4ac788f%3A0xe77469d09480fcdb!2sSunny%20Isles%20Beach!5e1!3m2!1sen!2s!4v1710352410914!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            .row 
              .box
                img(src="imgs/phone-icon.png")
                .info
                  span 010-020-0340
                  span Phone Number
              .box
                img(src="imgs/email-icon.png")
                .info
                  span info@villa.co
                  span Business Email
          form.col
            label(for="name") Full Name
            input(type="text",id="name",name="Name",placeholder="Your Name...",required)
            label(for="email") Email Address
            input(type="email",id="email",name="Email",placeholder="Your E-mail...",required)
            label(for="subject") Subject
            input(type="text",id="subject",name="Subject",placeholder="Subject...")
            label(for="message") Message
            textarea(type="text",id="message",name="Message",placeholder="Message...")
            button(type="submit") Send Message
    block footerData
      .footer Copyright © 2048 Villa Agency Co., Ltd. All rights reserved. Design: TemplateMo
    script(src="main.js")