extends prop
block links
  ul.links
    li
      a(href="index.html") Home
    li
      a(href="prop.html") Properties
    li.active
      a(href="details.html") Property Details
    li
      a(href="cont.html") Contact Us
    li.visit
      a(href="#")
        <i class="fa fa-calendar"></i> 
        span Schedule a visit
block page-data
  .details
    .container
      .col-2
        img(src="../imgs/property-01.jpg")
        .info
          h4 Apparment
          h2 24 New Street Miami, OR 24560
          p Get <b>the best villa agency</b> HTML CSS Bootstrap Template for your company website. TemplateMo provides you the <a href="#">best free CSS templates</a> in the world. Please tell your friends about it. Thank you. Cloud bread kogi bitters pitchfork shoreditch tumblr yr succulents single-origin coffee schlitz enamel pin you probably haven't heard of them ugh hella.
            <br><br> When you look for free CSS templates, you can simply type TemplateMo in any search engine website. In addition, you can type TemplateMo Digital Marketing, TemplateMo Corporate Layouts, etc. Master cleanse +1 intelligentsia swag post-ironic, slow-carb chambray knausgaard PBR&B DSA poutine neutra cardigan hoodie pop-up.
        ul.ques
          li Best useful links ?
            p Dolor <b>almesit amet</b>, consectetur adipiscing elit, sed doesn't eiusmod tempor kinfolk tonx seitan crucifix 3 wolf moon bicycle rights keffiyeh snackwave wolf same vice, chillwave vexillologist incididunt ut labore consectetur <span>adipiscing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li How does this work ?
            p Dolor <b>almesit amet</b>, consectetur adipiscing elit, sed doesn't eiusmod tempor kinfolk tonx seitan crucifix 3 wolf moon bicycle rights keffiyeh snackwave wolf same vice, chillwave vexillologist incididunt ut labore consectetur <span>adipiscing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li Why is Villa Agency the best ?
            p Dolor <b>almesit amet</b>, consectetur adipiscing elit, sed doesn't eiusmod tempor kinfolk tonx seitan crucifix 3 wolf moon bicycle rights keffiyeh snackwave wolf same vice, chillwave vexillologist incididunt ut labore consectetur <span>adipiscing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .col-3
        .row
          img(src="../imgs/info-icon-01.png")
          .info
            span  250 m2
            span Total Flat Space
        .row
          img(src="../imgs/info-icon-02.png")
          .info
            span  Contract 
            span Contract Ready
        .row
          img(src="../imgs/info-icon-03.png")
          .info
            span  Payment  
            span Payment Process
        .row
          img(src="../imgs/info-icon-04.png")
          .info
            span  Safety
            span 24/7 Under Control
    .deal
      .container
        .title 
          h4 | BEST DEAL
          h2 Find Your Best Deal Right Now!
        ul.options
          li.active(data-num = "1") Appartment
          li(data-num = "2")  Villa House
          li(data-num = "3")  Penthouse
      .container
        .Details
          .row
            ul.info
              li
                span Total Flat Space
                span.space 185 m2
              li
                span Floor number
                span.floor 26th
              li
                span Number of rooms
                span.room 4
              li
                span Parking Available
                span.park Yes
              li
                span Payment Process
                span.pay Bank
          .row
            img(class="img",src="../imgs/deal-01.jpg")
          .row
            h4 Extra Info About 
              span.option Property
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, do eiusmod tempor pack incididunt ut labore et dolore magna aliqua quised ipsum suspendisse.
            p When you need free CSS templates, you can simply type TemplateMo in any search engine website. In addition, you can type TemplateMo Portfolio, TemplateMo One Page Layouts, etc.
            .visit
              a(href="#")
                <i class="fa fa-calendar"></i> 
                span Schedule a visit